@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lexend:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  color: white;
  background: url(img/background-inicial.png);
header {
    width: 100%;
    background-color: #333;
    padding: 15px 0;
    position: sticky;
    top: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

.herois{
  justify-content: center;
  display: flex;
  gap: 10px;
  border: 2px solid black;
  border-radius: 10px;
  width: 260px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

